{% extends 'food/base.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>
    

</head>
<body>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <h5 class="card-header bg-info">Login</h5>
                    <div class="card-body mx-4">
                        <form class="my-4" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                   <div class="form-group">
                                        {{field.name}}
                                        <br>
                                        {{field}}
                                   </div>
                            {% endfor %}
                            <button type="submit" class="my-2 btn btn-info">Login</button>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>

   
</body>
</html>

{% endblock %}