{% extends 'food/base.html' %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Site</title>
</head>
<body>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <h5 class="card-header bg-info">Registration</h5>
                    <div class="card-body mx-2">
                        <form class="row" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                {{field.name}}
                                <br>
                                {{field}}
                            {% endfor %}
                            <button type="submit" class="my-2 btn btn-info">Sign Up</button>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>


   
</body>
</html>

{% endblock %}